<div class="row">
  <div class="col-md-6">
    <h3>Project Organization and Management for Genomics</h3>
    <ul>
      <li>Data Tidiness</li>
      <li>Planning for NGS Projects</li>
      <li>Examining Data on the NCBI SRA Database</li>
      <li><a href="https://datacarpentry.org/organization-genomics/">Materials</a></li>
     </ul>
   </div>
   <div class="col-md-6">
     <h3>The Unix Shell for Genomics</h3>
<ul>
<li>Introducing the shell</li>
<li>Navegating files and directories</li>
<li>Redirection</li>
<li>Writing scripts</li>
<li>Project organisation</li>
<li><a href="{{site.swc_pages}}/shell-genomics/reference">Reference...</a></li>
</ul>
</div>
</div>
<div class="row">
<div class="col-md-6">
<h3>Data Wrangling for Genomics</h3>
<ul>
<li>Assessing Read Quality</li>
<li>Trimming and Filtering</li>
<li>Variant Calling Workflow</li>
<li>Ignoring files</li>
<li>Automating a Variant Calling Workflow</li>
<li><a href="https://datacarpentry.org/wrangling-genomics/">Materials</a></li>
</ul>
</div>
<div class="col-md-6">
<h3>Cloud Computing for Genomics</h3>
<ul>
<li>Why of cloud computing</li>
<li>Logging onto Cloud</li>
<li>Fine tuning your Cloud Setup</li>
<li>Data roundtripping</li>
<li>Which Cloud for my data?</li>
<li><a href="https://datacarpentry.org/cloud-genomics/">Materials</a></li>
</ul>
</div>  
  
</div>
